DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=orchestrator_db
POSTGRES_USER=orchestrator_user
POSTGRES_PASSWORD=orchestrator_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

PYTHON_SERVICE_1_URL=http://python_service_1:8001
PYTHON_SERVICE_2_URL=http://python_service_2:8002
GO_SERVICE_URL=http://go_service:8003