# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*

# Django
db.sqlite3
*.sqlite3

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/

# Python build artifacts
build/
dist/
*.egg-info/

# Go
bin/